{% extends 'dashboard/base_dashboard.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %} Contact Update - {{ block.super }} {% endblock %}

{% block content %}

    <section class="update-contact my-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="custom_breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">
                                <a href="#">Update Contact</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <a href="{% url 'contact-list' %}" class="text-dark">Back to Contact</a> 
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="row my-3">
                                    <div class="form-group col-md-6 mb-0">
                                        {{ form.first_name|as_crispy_field }}
                                    </div>
                                    <div class="form-group col-md-6 mb-0">
                                        {{ form.last_name|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-group col-md-6 mb-0">
                                        {{ form.email|as_crispy_field }}
                                      </div>
                                    <div class="form-group col-md-6 mb-0">
                                        {{ form.subject|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-group col mb-0">
                                        {{ form.message|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="d-grid gap-2">
                                            <button type="submit" class="custom-submit-btn px-4">
                                                <i class="fas fa-paper-plane"></i> Update Contact
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}