  <section class="checkout-section">
    <div class="container">
      <h2 class="text-center font-weight-bold">Checkout Process</h2>
      <hr>
      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-dark">Your cart</span>
            <span class="badge badge-dark badge-pill">{{ request.session.cart_items }} </span>
          </h4>
          <div class="card">
            <div class="card-body pb-0">
              <table class="table table-striped">
                <thead>
                    <tr>
                        <td><b>Product Cost</b></td>
                        <td class="text-right"> 
                          <strong>
                            BDT <span class="mx-1">:</span>
                            {{ cart.get_total|floatformat|intcomma }}
                          </strong>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Delivery Charge </b></td>
                        <td class="text-right">
                          <strong>
                            BDT : <span class="mx-1" id="amount"></span>
                          </strong>
                        </td>
                    </tr>
                    <tr style="display: none">
                        <td><b>Total Weight</b></td>
                        <td class="text-right"><b><span id="totalWeight">{{ cart.total_weight }}</span></b></td>
                    </tr>
                    <tr style="background-color: black; color: white; border-radius: 40xp !important">
                        <td><b>Total Cost </b></td>
                        <td class="text-right">
                          <strong>
                            BDT : <span id="total" class="font-weight-bold mx-1">
                              {{ cart.get_total|floatformat }}
                            </span>
                          </strong>
                        </td>
                    </tr>
                </thead>
              </table>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-header">
              <div id="insideDhakaMessage" style="display: none;">
                You are inside Dhaka 
              </div>
              <div id="outsideDhakaMessage" style="display: none;">You are outside Dhaka.</div>
            </div>
            <div class="card-body pb-0">
              <div id="insideDhakaCharge">
                <ul>
                  {% for charge in inside_dhaka_charges %}
                    <li>{{ charge.title }}</li>
                  {% endfor %}
                </ul>
              </div>
              <div id="outsideDhakaCharge" style="display: none;">
                <ul>
                  {% for charge in outside_dhaka_charges %}
                    <li>{{ charge.title }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Billing & Shipping</h4>
          <div class="card">
            <div class="card-body">
              <form class="needs-validation" method="post" novalidate>
                {% csrf_token %}
                  <!-- Display form errors -->
                 {% if errors %}
                    <div class="alert alert-danger">
                      <ul>
                        {% for error in errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                  <div class="row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6 mb-0">
                      {{ form.email|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                      {{ form.contact_number|as_crispy_field }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6 mb-0">
                      {{ form.address|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.city|as_crispy_field }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col mb-0">
                      {{ form.location|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                          <label for="noteTextarea">Notes for order, delivery (optional). e.g. specific
                                delivery date or packaging *
                          </label>
                          <textarea class="form-control" name="notes" id="notes" rows="3">
                          </textarea>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="from-group">
                      <input type="hidden" id="delivery_charge" name="delivery_charge">
                    </div>
                  </div>
                </div>
                <h4 class="mb-3">Delivery Method</h4>
                <div class="d-block mb-3">
                  <div class="custom-control custom-radio mb-2">
                    <input id="insideDhaka" name="delivery_method" type="radio" class="custom-control-input" value="1" onclick="updateDeliveryCharges()" checked>
                    <label class="custom-control-label" for="insideDhaka">Inside Dhaka</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="outsideDhaka" name="delivery_method" type="radio" class="custom-control-input" value="2" onclick="updateDeliveryCharges()">
                    <label class="custom-control-label" for="outsideDhaka">Outside Dhaka</label>
                </div>
                </div>
                <button type="submit" class="btn btn-default btn-lg btn-block cart-checkout-btn">
                  Place Order <i class="fa fa-paper-plane"></i>
                </button>
              </form>
              <script>
                function updateDeliveryCharges() {
                  // Access the totalWeight element by its ID
                  var totalWeightElement = document.getElementById("totalWeight");
                  
                  // Get the value inside the span element and convert it to a number
                  var totalWeight = parseFloat(totalWeightElement.innerText);
                  
                  // Initialize the amount variable
                  var amount = 0;
                  
                  // Determine if inside or outside Dhaka is selected
                  var isInsideDhaka = document.getElementById("insideDhaka").checked;
                  
                  // Apply logic to determine the amount based on the location and total weight
                  if (isInsideDhaka) {
                    document.getElementById("insideDhakaCharge").style.display = "block";
                    document.getElementById("outsideDhakaCharge").style.display = "none";
                    document.getElementById("insideDhakaMessage").style.display = "block";
                    document.getElementById("outsideDhakaMessage").style.display = "none";
                    if (totalWeight >= 2401) {
                      amount = 130;
                    } else if (totalWeight >= 1501) {
                      amount = 100;
                    } else if (totalWeight >= 701) {
                      amount = 85;
                    } else {
                      amount = 60;
                    }
                  } else {
                    document.getElementById("insideDhakaCharge").style.display = "none";
                    document.getElementById("outsideDhakaCharge").style.display = "block";
                    document.getElementById("insideDhakaMessage").style.display = "none";
                    document.getElementById("outsideDhakaMessage").style.display = "block";
                    if (totalWeight >= 2401) {
                      amount = 210;
                    } else if (totalWeight >= 1501) {
                      amount = 190;
                    } else if (totalWeight >= 701) {
                      amount = 170;
                    } else {
                      amount = 150;
                    }
                  }

                   // Set the amount in the hidden input field
                  document.getElementById("delivery_charge").value = amount;
                  
                  // Set the amount in the amount span
                  document.getElementById("amount").innerText = amount;
                  
                  // Update the total cost
                  var productCost = {{ cart.get_total|floatformat }};
                  var totalCost = productCost + amount;
                  document.getElementById("total").innerText = totalCost.toLocaleString();
                  
                  // Log the total weight and amount to the console
                  console.log("Total Weight:", totalWeight);
                  console.log("Amount:", amount);
                }
              
                // Call the function when the document is fully loaded
                document.addEventListener("DOMContentLoaded", updateDeliveryCharges);
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
