{% extends "accounts/base_account.html" %}
{% block title %} Password Updated Successfully - {{block.super}} {% endblock %}

{% block content %}
    
    <section class="change-successful d-flex align-items-center justify-content-center min-vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-sm-12 col-lg-5 col-md-5 col-lg-5">
                    <div class="card shadow">
                        <div class="card-header pb-0 text-center">
                            <a href="{% url 'home' %}" class="fw-bold mb-2" style="font-size:34px">
                                Bella Global
                            </a>
                            <br>
                            <p>Change Password</p>
                        </div>
                        <div class="card-body">
                            <p class="text-center my-4">
                                <div class="alert alert-success text-center" role="alert">
                                    <strong>Success!</strong> Your password has been successfully updated.
                                </div>
                            </p>
                            <div class="d-grid">
                                <a href="{% url 'login' %}" class="custom-submit-btn text-center text-white">
                                    <i class="bi bi-box-arrow-in-right me-2"></i>
                                    Login to Your Account
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
