{% extends "accounts/base_account.html" %}
{% block title %} Password changed - {{block.super}} {% endblock %}

{% block content %}

    <section class="passwordchanged d-flex align-items-center justify-content-center min-vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-sm-12 col-lg-5 col-md-5 col-lg-5">
                    <div class="card shadow">
                        <div class="card-header pb-0 text-center">
                            <a href="{% url 'home' %}" class="fw-bold mb-2" style="font-size:34px">
                                The Bella
                            </a>
                            <br>
                            <p>Changed Your Password!</p>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-center">Password changed!</h3>
                            <div class="alert alert-success" role="alert">
                                You have successfully changed your password!
                            </div>
                            <div class="d-grid">
                                <a href="{% url 'login' %}" 
                                class="custom-submit-btn text-center text-white">
                                   <i class="bi bi-envelope-check-fill me-2"></i>
                                   Return to Login
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
