{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jayed Hossain Jibon">
    <meta name='designer' content='Jayed Hossain Jibon'>
    <title>{% block title %} - Bella Global{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>
<body>

    <!--===== Main Content ====-->
    <section class="main-content">
        <!--===== Navbar ====-->
        <div class="navbar-section">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid px-4">
                        <!-- Logo -->
                        <a class="navbar-brand p-0" href="{% url 'home' %}">
                            <div class="logo-container">
                                <div class="logo-main">Thebella</div>
                                <div class="logo-sub">COSMETICS</div>
                                <div class="logo-year">Since 2026</div>
                            </div>
                        </a>
                        <!-- Toggle -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- Menu -->
                        <div class="collapse navbar-collapse" id="mainNav">
                            <div class="ms-auto d-flex flex-column align-items-end">

                                <!-- Utility -->
                                <div class="utility-box d-none d-lg-block">
                                    <a href="#" class="lang-link active">EN</a>
                                    <!-- Search Icon -->
                                    <a href="javascript:void(0)" class="lang-link ms-2" id="openSearch">
                                        <i class="bi bi-search"></i>
                                    </a>
                                     <!--===== Search Overlay ====-->
                                    <div class="search-overlay" id="searchOverlay">
                                        <div class="search-box container">
                                            <form action="{% url 'search' %}" method="get">
                                                <input type="text" name="q" placeholder="Search for products, skin concerns...">
                                                <button class="close-search" id="closeSearch">&times;</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- Nav Links -->
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown-parent">
                                        <a class="nav-link" href="#">Your skin</a>
                                        <!-- Dropdown -->
                                        <div class="dropdown-menu-custom">
                                            <ul>
                                                <li>
                                                    <a href="category.html">
                                                        Irritated and damaged skin
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="category.html">
                                                        Scaly skin and hyperkeratosis</a>
                                                    </li>
                                                <li>
                                                    <a href="category.html">
                                                        Sun protection
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="category.html">
                                                        Dry skin
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="category.html">Scaly scalp</a>
                                                </li>
                                                <li>
                                                    <a href="category.html">
                                                        Sensitive skin with redness
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'category' %}">
                                            Our solutions
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link cart-badge" href="{% url 'cart-list' %}">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <span class="nav-text">Carts</span>
                                            <span class="cart-count">
                                                {% if request.session.cart_items %}
                                                    ({{ request.session.cart_items }})
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </span>
                                        </a>
                                    </li>
                                    <!--authenticated-->
                                    <li class="nav-item">
                                        {% if request.user.is_authenticated %}
                                            {% if request.user.is_moderator or request.user.is_superuser  %}
                                                <!-- Redirect Moderators to their specific dashboard -->
                                                <a class="nav-link" href="{% url 'dashboard' %}">
                                                    <i class="fa-solid fa-gauge-high"></i>
                                                    <span>Dashboard</span>
                                                </a>
                                            {% else %}
                                                <!-- Redirect regular Users to the standard dashboard -->
                                                <a class="nav-link" href="{% url 'user-dashboard' %}">
                                                    <i class="fa-solid fa-gauge-high"></i>
                                                    <span>{{ request.user.first_name }}</span>
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            <!-- Show Login for guests -->
                                            <a class="nav-link" href="{% url 'login' %}">
                                                <i class="fa-solid fa-right-from-bracket"></i>
                                                <span>Login</span>
                                            </a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <!--=============== 
        Messages Framework
        =============== -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show text-center m-0 rounded-0 border-0" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        
        <!-- cart_sidebar -->
        {% include 'cart_sidebar.html' %}
        
        <!-- Main Content -->
        {% block content %}


        
        {% endblock content %}
        
    </section>

    <!--============ Footer Section ===========-->
    <footer class="bg-navy text-white pt-5 pb-4">
        <div class="container">
            <div class="row">
                <div class="col py-4 py-md-5">
                     <p class="text-uppercase small tracking-wider mb-3 mb-md-4 px-2">
                        Made in France
                    </p>
                    <h2 class="fw-light mb-4 px-2">
                        Bella Gloabl is a French laboratory that formulates dermatological skincare products 
                        that are accessible and provide real results to preserve and restore your skin's natural balance.
                    </h2>
                </div>
            </div>
            <hr class="border-secondary my-4 my-md-5">
            <div class="row align-items-center gy-4">
                <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-start gap-4">
                    <a href="{% url 'contact-us' %}" class="text-white text-decoration-none fw-bold small">
                        Contact
                    </a>
                    <a href="{% url 'faq' %}" class="text-white text-decoration-none fw-bold small">
                        FAQ
                    </a>
                </div>
                <!-- Social media Link -->
                <div class="col-12 col-md-4 text-center">
                    <div class="d-flex justify-content-center gap-4 fs-5">
                        <a href="#" class="text-white opacity-50 social-icon">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="#" class="text-white opacity-50 social-icon">
                            <i class="bi bi-facebook"></i></a>
                        <a href="#" class="text-white opacity-50 social-icon">
                            <i class="bi bi-twitter-x"></i>
                        </a>
                        <a href="#" class="text-white opacity-50 social-icon">
                            <i class="bi bi-youtube"></i>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-4 text-center text-md-end">
                    <span class="fst-italic opacity-50 small">#togetherformyskin</span>
                </div>
            </div>

            <div class="row mt-5 pt-4 border-top-refined small gy-3 text-center text-md-start footer-link-container">
                <div class="col-12 col-md-9 d-flex flex-wrap justify-content-center justify-content-md-start gap-3 gap-md-4">
                    <span class="copyright-text w-100 w-md-auto mb-2 mb-md-0">
                        © THEBELLA 2026
                    </span>
                    <a href="{% url 'legal-notice' %}" class="footer-link">
                        Legal Notice
                    </a>
                    <a href="{% url 'terms' %}" class="footer-link">
                        Terms
                    </a>
                    <a href="{% url 'personal-data-policy' %}" class="footer-link">
                        Personal Data Policy
                    </a>
                    <a href="{% url 'cookie-policy' %}" class="footer-link">
                         Policy
                    </a>
                </div>
                <div class="col-12 col-md-3 text-center text-md-end">
                    <a href="{% url 'international' %}" class="footer-link">
                        International <i class="bi bi-globe ms-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        $(document).ready(function () {
            function showMessage(message, type) {
                let messageDiv = $("#message");
                messageDiv.html(`<div class="alert alert-${type}">${message}</div>`);
                messageDiv.fadeIn().delay(5000).fadeOut(); // Show message for 5 seconds
            }

            $(".increase-quantity-btn").click(function () {
                var cartItemId = $(this).data("cart-item-id");

                $.ajax({
                    url: "/increase-quantity/" + cartItemId + "/",
                    method: "GET",
                    success: function (response) {
                        if (response.error) {
                            showMessage(response.error, "danger"); // Show error message
                        } else {
                            showMessage(response.message, "success"); // Show success message
                            $("#cart-item-" + cartItemId + " .quantity").text(function(i, oldValue) {
                                return parseInt(oldValue) + 1;
                            });
                            location.reload();
                        }
                    },
                    error: function () {
                        showMessage("An error occurred. Please try again.", "danger");
                    }
                });
            });

            $(".decrease-quantity-btn").click(function () {
                var cartItemId = $(this).data("cart-item-id");

                $.ajax({
                    url: "/decrease-quantity/" + cartItemId + "/",
                    method: "GET",
                    success: function (response) {
                        if (response.error) {
                            showMessage(response.error, "danger"); // Show error message
                        } else {
                            location.reload();
                            showMessage(response.message, "success"); // Show success message
                            $("#cart-item-" + cartItemId + " .quantity").text(function(i, oldValue) {
                                return Math.max(parseInt(oldValue) - 1, 1); // Prevent going below 1
                            });
                           
                        }
                    },
                    error: function () {
                        showMessage("An error occurred. Please try again.", "danger");
                    }
                });
            });
        });
    </script>

 

    {% block js %}
    
  
    {% endblock js %}



    <!-- Jump to Top Button -->
    <button id="jumpToTop" class="jump-to-top-btn" aria-label="Jump to top">
        <i class="bi bi-chevron-up"></i>
    </button>
   
</body>
</html>