{% extends 'base.html' %}
{% load static %}
{% block title %} Cookie Policy {{block.super}} {% endblock %}

{% block content %}

    <!--=== Cookie Policy ====-->
    <div class="mentions-section">
        <div class="mentions-img">
            <img src="{% static 'img/mentions/mentions.jpg' %}" alt="Header Image">
        </div>
        {% if cookie_data %}
            <div class="mentions-content">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="mentions-left">
                            <h4 class="text-center fw-bold mb-4">
                                {{ cookie_data.name }}
                            </h4>
                            <hr>
                            <p>{{ cookie_data.description|safe }}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mentions-right">
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="mentions-left">
                <div class="row">
                    <div class="col my-5 text-center">
                        <h2 class="text-muted">Cookie Policy Unavailable</h2>
                        <p class="lead">
                            The requested Cookie Policy document is currently being updated or is not available at this time.
                        </p>
                        <hr class="w-25 mx-auto">
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
       
{% endblock %}