{% extends 'base.html' %}
{% load static %}

{% block title %} Category List {{block.super}} {% endblock %}

{% block content %}

    <div class="sub-category">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="sub-category-left">
                        <div class="sub-category-content">
                            {% if categories %}
                                <ul class="side-nav-list">
                                    {% for cat in categories %}
                                        <li class="side-nav-item {% if cat == active_category %}active{% endif %}">
                                            <a href="{% url 'product_category' cat.slug %}">
                                                {{ cat.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <ul>
                                    <li class="side-nav-item">
                                        No Categories Found !
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="sub-category-header-box">
                        <h2>3 Ranges</h2>
                        <h4>For the <strong>irritated and damaged skin</strong></h4>
                        <p>Micro-cuts, insect bites, severe dryness, burning and cracks... These small concerns occur daily but still need your attention so you can gently soothe and repair your skin.</p>
                    </div>

                    <div class="sub-category-right">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="img-left">
                                    <a href="{% url 'product_details' %}">
                                        <img src="{% static 'img/skin/skin1.png' %}" class="img-fluid mb-4" alt="Skin Care 1">
                                    </a>
                                    <a href="{% url 'product_details' %}">
                                        <img src="{% static "img/skin/skin2.png" %}" class="img-fluid mb-4" alt="Skin Care 1">
                                    </a>
                                </div>
                                <div class="img-left">
                                    <a href="products_details.html">
                                        <img src="{% static 'img/skin/skin1.png' %}" class="img-fluid mb-4" alt="Skin Care 1">
                                    </a>
                                    <a href="products_details.html">
                                        <img src="{% static 'img/skin/skin2.png' %}" class="img-fluid mb-4" alt="Skin Care 1">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-right">
                                    <a href="products_details.html">
                                        <img src="{% static 'img/skin/pro.png' %}" class="img-fluid mb-4" alt="Skin Care 1">
                                    </a>
                                    <a href="products_details.html">
                                        <img src="{% static 'img/skin/pro.png' %} img/skin/skin2.png" class="img-fluid mb-4" alt="Skin Care 1">
                                    </a>
                                </div>
                                <div class="img-left">
                                    <a href="products_details.html">
                                        <img src="img/skin/skin1.png" class="img-fluid mb-4" alt="Skin Care 1">
                                    </a>
                                    <a href="products_details.html">
                                        <img src="img/skin/skin2.png" class="img-fluid mb-4" alt="Skin Care 1">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}
