{% extends 'base.html' %}
{% load static %}

{% block title %} {{ active_category.title }} {{block.super}} {% endblock %}

{% block content %}


    <!--=== Others Section ====-->
    <div class="category-container">
        <div class="category-sidebar">
            {% if categories %}
                <ul class="side-nav-list">
                    {% for cat in categories %}
                        <li class="side-nav-item {% if cat == active_category %}active{% endif %}">
                            <a href="{% url 'product_category' cat.slug %}">
                                {{ cat.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <ul>
                    <li class="side-nav-item">
                        No Categories Found !
                    </li>
                </ul>
            {% endif %}
        </div>
        <div class="category-section">
            <div class="category-header-box">
                <h2>{{ active_category.subcategories.count }} Ranges</h2>
                <h4>For the <strong>{{ active_category.title }}</strong></h4>
                <p>
                    Explore our range of specialized solutions tailored for your needs.
                </p>    
            </div>
            <div class="category-product-grid">
                <div class="grid-col-1">
                    {% for sub in subcategories %}
                        {% if not forloop.counter|divisibleby:2 %}
                            <div class="category-card-custom {% cycle 'category-bg-pink' 'category-bg-blue' 'category-bg-teal' as colors %} mb-4">
                                <div class="title">
                                    <a href="{% url 'sub_category' sub.category.slug sub.slug %}">
                                        {{ sub.title }}
                                    </a>
                                </div>
                                <div class="desc">
                                    <a href="{% url 'sub_category' sub.category.slug sub.slug %}">
                                        Specialized care for {{ sub.title }}
                                    </a>
                                </div>
                                <div class="count">
                                    <a href="{% url 'sub_category' sub.category.slug sub.slug %}">
                                        {{ sub.products.count }} Product{{ sub.products.count|pluralize }}
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>      
                <div class="grid-col-2 category-offset-down">
                    {% resetcycle colors %} 
                    
                    {% for sub in subcategories %}
                        {% if forloop.counter|divisibleby:2 %}
                        
                            <div class="category-card-custom {% cycle 'category-bg-blue' 'category-bg-teal' 'category-bg-pink' %} mb-4">
                                <div class="title">
                                    <a href="{% url 'sub_category' sub.category.slug sub.slug %}">
                                        {{ sub.title }}
                                    </a>
                                </div>
                                <div class="desc">
                                    <a href="{% url 'sub_category' sub.category.slug sub.slug %}">
                                        Specialized care for {{ sub.title }}
                                    </a>
                                </div>
                                <div class="count">
                                    <a href="{% url 'sub_category' sub.category.slug sub.slug %}">
                                        {{ sub.products.count }} Product{{ sub.products.count|pluralize }}
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}
