


{% extends 'base.html' %}
{% load static %}

{% block title %} Product Category {{block.super}} {% endblock %}

{% block content %}

    <div class="sub-category">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="sub-category-left">
                        <div class="sub-category-content">
                            <h1 class="sub-category-header">Urelia</h1>
                                <p class="sub-category-subheading">Scaly skin. Hyperkeratosis</p>
                                <div class="description-text">
                                    <p>
                                        The key ingredient is urea! Urea is naturally present in the skin. It is unique, because depending on its concentration, it can either hydrate or exfoliate to reduce the thickness of scales.
                                    </p>
                                    <p>
                                        In the Urelia range, it is associated with an amino acid complex to form a protective film on the skin's surface to limit dehydration and protect your skin from external aggressions.
                                    </p>
                                    <p>
                                        The range includes two exfoliating moisturizers that treat hyperkeratosis no matter the degree of severity, as well as a cleansing gel for gently exfoliating and cleansing your body and scalp.
                                    </p>
                                </div>
                                <div class="accordion accordion-flush isis-accordion mt-5" id="ureliaFaq">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#f1">IS IT RIGHT FOR ME?</button>
                                        </h2>
                                        <div id="f1" class="accordion-collapse collapse" data-bs-parent="#ureliaFaq">
                                            <div class="accordion-body py-3">Details...</div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#f2">ADVICE FROM A DERMATOLOGIST</button>
                                        </h2>
                                        <div id="f2" class="accordion-collapse collapse" data-bs-parent="#ureliaFaq">
                                            <div class="accordion-body py-3">Details...</div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#f3">GET TO KNOW THE URELIA RANGE</button>
                                        </h2>
                                        <div id="f3" class="accordion-collapse collapse" data-bs-parent="#ureliaFaq">
                                            <div class="accordion-body py-3">Details...</div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="sub-category-right">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="img-left">
                                    <a href="{% url 'product_details' %}">
                                        <img src="{% static 'img/skin/skin1.png' %}" class="img-fluid mb-4" alt="Skin Care 1">
                                    </a>
                                    <a href="{% url 'product_details' %}">
                                        <img src="{% static "img/skin/skin2.png" %}" class="img-fluid mb-4" alt="Skin Care 1">
                                    </a>
                                </div>
                                <div class="img-left">
                                    <a href="products_details.html">
                                        <img src="{% static 'img/skin/skin1.png' %}" class="img-fluid mb-4" alt="Skin Care 1">
                                    </a>
                                    <a href="products_details.html">
                                        <img src="{% static 'img/skin/skin2.png' %}" class="img-fluid mb-4" alt="Skin Care 1">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-right">
                                    <a href="products_details.html">
                                        <img src="{% static 'img/skin/pro.png' %}" class="img-fluid mb-4" alt="Skin Care 1">
                                    </a>
                                    <a href="products_details.html">
                                        <img src="{% static 'img/skin/pro.png' %} img/skin/skin2.png" class="img-fluid mb-4" alt="Skin Care 1">
                                    </a>
                                </div>
                                <div class="img-left">
                                    <a href="products_details.html">
                                        <img src="img/skin/skin1.png" class="img-fluid mb-4" alt="Skin Care 1">
                                    </a>
                                    <a href="products_details.html">
                                        <img src="img/skin/skin2.png" class="img-fluid mb-4" alt="Skin Care 1">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}
